**/__pycache__/**
analysis/
analysisse_gap/
analyze_se_dice_gap.py
check_subset.py
eval_kvasir.ipynb
evaluate_teacher_pixel_trick.py
evaluate_teacher_pixel_trick_from_saved_masks.py
export_student_teacher_masks.py
infer_compare_student_teacher.py
kvasir_test_topk_qualitative.png
last_ckpt/
logs/
plot_kvasir_test_qualitative.py
plot_qualitative_depth_enhance_vs_supervised.py
plot_qualitative_figure2_demt.py
view_image_mask_depth.py
visualize_demt_adddepth_predictions.py

plots/
save_dir/
scripts/

**/unused/**
try**
**.txt
**.pth